<li class="list-group-item active" aria-current="true" style="text-align: justify;">Kiralamalar</li>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Kullanıcı İsimi</th>
            <th>Kiralama Tarihi</th>
            <th>Teslim Tarihi</th>
        </tr>
    </thead>

    <tr *ngFor="let rentalDto of rentalDtos">
        <td>rentalDto.rentId</td>      
        <td>rentalDto.brandName</td>  
        <td>rentalDto.customerName</td>  
        <td>rentalDto.rentDate</td>  
        <td>rentalDto.returnDate</td>  
    </tr>
</table>