
<li class="list-group-item active"  aria-current="true" style="text-align: justify;" style="background-color:darkolivegreen" >Arabalar</li>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Model Yılı</th>
            <th>Fiyat</th>
            <th>Car Name</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    <tr *ngFor="let carDto of carDtos">
        <td>{{carDto.carId}}</td>
        <td>{{carDto.brandName}}</td>
        <td>{{carDto.colorName}}</td>
        <td>{{carDto.modelYear}}</td>
        <td>{{carDto.dailyPrice}}</td>
        <td>{{carDto.description}}</td>     
    </tr>
</table>
